.home-container {
  padding: 32px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.home-banner-row {
  display: block;
}

.home-row-1 {
  display: grid;
  grid-template-columns: minmax(320px, 1fr) 2fr;
  gap: 24px;
}

.home-row-2 {
  display: block;
}

.home-row-3 {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  gap: 24px;
}

.home-row-4 {
  display: block;
}

@media (max-width: 1023px) {
  .home-container {
    padding: 24px;
  }
  .home-row-1 {
    grid-template-columns: 1fr;
  }
  .home-row-3 {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 599px) {
  .home-container {
    padding: 16px;
    gap: 16px;
  }
  .home-row-1, .home-row-2, .home-row-3, .home-row-4 {
    gap: 16px;
  }
}
